    /* Reset default margin and padding */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* General body style */
    
    body {
        font-family: 'Arial', sans-serif;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('beranda.webp');
        background-size: cover;
        /* Membuat gambar latar belakang mengisi seluruh layar */
        background-repeat: no-repeat;
        /* Menghindari pengulangan gambar latar */
        color: #ffffff;
        line-height: 1.05;
        height: auto;
    }
    /* Header */
    
    header {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header .logo h1 {
        margin-left: 20px;
    }
    
    nav ul {
        list-style-type: none;
        display: flex;
        margin-right: 20px;
    }
    
    nav ul li {
        margin-left: 20px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s;
    }
    
    nav ul li a:hover {
        color: #ffcc00;
    }
    /* Hero section */
    
    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #fffcfc;
        padding: 40px 20px;
    }
    
    .hero-content h2 {
        font-size: 48px;
        margin-bottom: 20px;
    }
    
    .hero-content p {
        font-size: 20px;
        margin-bottom: 30px;
    }
    /* Popular Boxes */
    
    .popular-boxes {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .popular-box {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 8px;
        width: 220px;
        height: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .popular-box img {
        width: 180px;
        height: 180px;
        object-fit: cover;
        border-radius: 8px;
    }
    
    .popular-box .btn {
        display: block;
        margin-top: 10px;
        background-color: #f50202;
        color: #fff;
        padding: 10px;
        text-decoration: none;
        border-radius: 50px;
        transition: background-color 0.3s;
    }
    
    .popular-box .btn:hover {
        background-color: #ffcc00;
        color: #000;
    }
    /* Genres Section */
    
    .genres {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 40px 20px;
        flex-wrap: wrap;
    }
    
    .genre {
        background-color: rgb(255, 255, 255);
        color: #000;
        border-radius: 8px;
        text-align: center;
        width: 200px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .genre:hover {
        transform: scale(1.05);
        transition: transform 0.3s;
    }
    /* Footer */
    
    footer {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        text-align: center;
        padding: 20px;
    }